<ion-content style="background-color: #f0f0f0">
  <div class="bg">
    <title>Página não encontrada</title>
    <img src="https://i.ibb.co/W6tgcKQ/softcodeon.gif" />
    <h1 class="error-text">
      Ooops, parece que não estamos conseguindo encontrar a página que você está tentando acessar.
    </h1>
    <p class="text">Por favor, verifique se o endereço do site está digitado corretamente.Ou,</p>
    <div class="btn1">
      <button class="solutions-btn" onclick="window.location.href='/tabs/homePage';" value="Redirect">
        Voltar para a Home page
      </button>
    </div>
  </div>
</ion-content>
