<ion-content>
  <div class="band">
    <div class="item-1">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>
          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
    <div class="item-2">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>
          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
    <div class="item-3">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>
          <p>
            Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community!
          </p>
          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
    <div class="item-4">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>
          <p>
            We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien
            Lander” making its way to touch down.
          </p>
          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
    <div class="item-5">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>
          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
    <div class="item-6">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>

          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
    <div class="item-7">
      <div class="card">
        <div
          class="thumb"
          style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png)"
        ></div>
        <article>
          <h1>Lorem Ipsum</h1>
          <span>Lorem Ipsum</span>
        </article>
      </div>
    </div>
  </div>

  <footer>
    <div class="inside__footer">
      <p class="copyright">&copy; 2022 Senografia, Inc. All Rights Reserved.</p>
      <div class="social">
        <a href="https://www.facebook.com/SenografiaDesenvolvimento/" target="_blank" rel="noopener">
          <ion-icon name="logo-facebook" class="icon facebook"></ion-icon>
        </a>
        <a
          href="https://www.linkedin.com/company/senografia-desenvolvimento-solucoes/mycompany/"
          target="_blank"
          rel="noopener"
        >
          <ion-icon name="logo-linkedin" class="icon linkedin"></ion-icon>
        </a>
      </div>
    </div>
  </footer>
</ion-content>
