<ion-menu side="start" contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu-div">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/homePage" [replaceUrl]="true" routerLinkActive="active" (onclick)="testing()">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/feed" [replaceUrl]="true" routerLinkActive="active">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Nossos produtos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/message-us" [replaceUrl]="true" routerLinkActive="active">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>Fale conosco</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<app-header></app-header>
<ion-content id="main-content">
  <ion-router-outlet main></ion-router-outlet>
</ion-content>
